# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask instance folder (onde fica o banco de dados SQLite)
instance/

# Migrations cache
migrations/__pycache__/

# Virtual environment
.venv/
env/
venv/

# Editor/IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3
*.db

# Python packaging
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg
*.egg

# Pytest cache
.pytest_cache/

